<header class="page-header">
	<div class="container">
		<div class="page-header__wrapper">

			<div class="page-header__logo">Volka</div>

			<div class="page-header__inner">
				<nav class="page-header__nav">
					<ul>
						<li><a href="javascript:;" data-toggle="anchor" data-target="#home">Home</a></li>
						<li><a href="javascript:;" data-toggle="anchor" data-target="#features">Features</a></li>
						<li><a href="javascript:;" data-toggle="anchor" data-target="#download">Download</a></li>
					</ul>
				</nav>
				<a href="console.volkaapp.com" class="page-header__sign-link" data-toggle="modal" data-target="#popup_email">Sign in →</a>
			</div>

			<a href="javascript:;" class="page-header__toggle" id="menu-toggle"><span></span></a>

			<div class="page-header__menu" id="header-menu">
				<a href="javascript:;" class="page-header__toggle" id="menu-toggle-active"><span></span></a>
				<div class="page-header__nav">
					<ul>
						<li><a href="javascript:;" data-toggle="anchor" data-target="#home">Home</a></li>
						<li><a href="javascript:;" data-toggle="anchor" data-target="#features">Features</a></li>
						<li><a href="javascript:;" data-toggle="anchor" data-target="#download">Download</a></li>
						<li><a href="javascript:;" data-toggle="modal" data-target="#popup_email">Sign in</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>