<footer class="page-footer">
	<div class="container">
		<div class="page-footer__wrapper">
			<div class="page-footer__info-block">
				<div class="page-footer__copyright-text">
					<p>©2020 Volka International OÜ. All Rights Reserved</p>
				</div>
				<div class="page-footer__info-wrapper">
					<a href="/privacy" class="page-footer__policy-link">Privacy Policy</a>
					<a href="/terms" class="page-footer__terms-link">Terms of Use</a>
				</div>
			</div>
			<div class="page-footer__contacts-block">
				<div class="page-footer__contacts-title">Follow us on</div>
				<div class="page-footer__contacts-wrapper">
					<a href="https://www.facebook.com/volkaapp" class="page-footer__facebook-link">
						<svg width="12" height="29">
							<use xlink:href="#facebook"></use>
						</svg>
					</a>
					<a href="instagram.com/volkaapp" class="page-footer__instagram-link">
						<svg width="25" height="27">
							<use xlink:href="#instagram"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>