<div class="popup-block" id="popup_email">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="popup-block__email-block">
				<form action="" class="popup-block__email-form">
					<label for="popup_email" class="popup-block__email-title">Please Enter Your Email</label>
					<div class="popup-block__input-wrapper">
						<input type="email" name="popup_email" id="popup_email" class="form-control popup-block__email-input" placeholder="sara.12@gmail.co|">
					</div>
					<button class="btn btn--sign" data-toggle="modal" data-target="#popup_thanks">Sign up</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_thanks">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="popup-block__thanks-block">
				<div class="popup-block__thanks-title">Thank you!</div>
				<div class="popup-block__thanks-description">We'll notify you as soon as Volka for Android launch.</div>
				<div class="popup-block__thanks-text">
					<p>If you would like to test the early version of the app please answer <a href="#">few questions</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
<a href="javascript:;" data-toggle="dismiss" class="popup-block__close">
	<svg width="12" height="12">
		<use xlink:href="#close"></use>
	</svg>
</a>
 -->